@media screen and (min-width: 320px) and (max-width: 375px) {
  ul {
    display: none;
  }
  html {
    font-size: 12px;
  }
  nav {
    padding: 4px 2px;
    
  }
  nav .middle-nav img {
    width: 32px;
  }
}
